article { /* Favoritas | Privadas | Demais */
    background-color: #0F2D49;
}

.side-bar {
    background-color: #051727;
}
.list-group {
    max-height: 170px;

    overflow: hidden; 
    overflow-y: scroll;
}