/* Fonte ROBOTO, usada em títulos (página login/registrar) */
* {
    font-family: "Roboto", sans-serif;
}

.btn-great {
    font-weight: 500;
}

/* Scrollbar para lista de páginas. Não disponível no Firefox ou Edge*/
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background-color:rgba(0, 0, 0, 0.25);

    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background:#ffffff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ececec; 
}