.slider-control .slider-button {
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    border: 0;
}

.slider-control .slider-button::after {
    content: "";
    border-bottom: 2px #0d6efd solid;
    width: 100%;
    height: 8px;
    float: left;

    transform: scaleX(0);
    transition: transform ease 300ms;
}

.slider-control .slider-button.sb-active::after {
    transform: scaleX(1);
}