.slider-control .slider-button {
    padding-bottom: 8px;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    border: 0;
    transform: scaleX(1);
}

.slider-control  .slider-faker {
    padding-bottom: 8px;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px #0d6efd solid;
    transform: scaleX(1);
    transition: transform ease 300ms;
}