.slider-control .slider-button {
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    border: 0;
}

.slider-control .slider-button::after {
    content: "";
    border-bottom: 2px #0d6efd solid;
    width: 100%;
    height: 8px;
    float: left;
    margin-bottom: 15px;

    transform: scaleX(0);
    transition: transform ease 300ms;
}

/*
    Então aparentemente o elemento ::after apenas existe no css, 
    e geralmente não é possível modificá-lo no javascript.
    Esta classe existe só para isso.
*/
.slider-control .slider-button.sb-active::after {
    transform: scaleX(1);
}

.slider-control .slider-item {
    --si-vertical-translate: 0; /* this will be set on javascript */
    --si-vertical-translate-percent: calc(100% * var(--si-vertical-translate));
    opacity: 0;
    transform: translate(0, var(--si-vertical-translate-percent));
    transition: opacity ease 300ms, transform ease 300ms;
}

.slider-control .slider-item.si-move-left {
    transform: translate(-100%, var(--si-vertical-translate-percent));
}

.slider-control .slider-item.si-move-right {
    transform: translate(100%, var(--si-vertical-translate-percent));
}

.slider-control .slider-item.si-show {
    opacity: 1;
    /* transform inherited from .slider-item */
}