{% extends "layout.html" %}
 
{% block head %}
<link rel="stylesheet" href="../static/css/side_bar.css">
<link rel="stylesheet" href="../static/css/pagina.css">
<link rel="stylesheet" href="../static/css/main.css">
{% endblock %}

{% block conteudo %}
<main>
    <div class="side-bar d-flex flex-column flex-shrink-0 text-white" style="width: 260px;">
        <!-- USUÁRIO -->
        <div class="mt-3 p-3">
            <a href="/perfil" class="btn rounded-4 me-4">  
                <div class="d-flex align-items-center text-white py-1">
                    <div class="d-flex justify-content-end align-content-end ronded-5 bg-light text-dark text-center rounded-3 fw-bold fs-5 py-3 px-3 me-3" style="width: 55px; height: 55px;">{{ user.nome[0] }}</div>
                    <div class="text-start">
                        <span class="fs-5 fw-bold">{{ user.nome }}</span>
                    </div>
                </div>
            </a>
            <a href="/logout" class="btn btn-light rounded-pill">
                <svg width="20" height="20" fill="currentColor"><use xlink:href="#box-arrow-left"/></svg>
            </a>
            <hr>
        </div>

        <div class="mx-3">
            <article class="mb-3 p-2 rounded-4">
                <!-- Páginas favoritas => listas-favoritas-->
                <header class="p-2 mb-2">
                    <svg width="16" height="16" fill="white" class="me-2" ><use xlink:href="#heart-fill"/></svg>
                    Favoritas
                </header>

                <div class="px-2 list-group" id="listaPaginasFavoritas"></div>
            </article>
            
            <article class="mb-3 p-2 rounded-4">
                <!-- Páginas privadas => listas-privadas -->
                <header class="p-2 mb-2">
                    <svg width="16" height="16" fill="white" class="me-2" ><use xlink:href="#lock-fill"/></svg>
                    Privadas
                </header>

                <div class="px-2 list-group" id="listaPaginasPrivadas"></div>
            </article>

            <article class="mb-3 p-2 rounded-4">
                <!-- Páginas comuns => listas-comuns -->
                <header class="p-2 mb-2">
                    <svg width="16" height="16" fill="white" class="me-2" ><use xlink:href="#journal-text"/></svg>
                    Públicas
                </header>

                <div class="px-2 list-group" id="listaPaginasComuns"></div>
            </article>
        </div>

        <div class="d-grid p-4">
            <button id="exibir-form-criar-pagina" type="button"
                class="btn btn-great btn-light btn-lg rounded-pill text-center" data-bs-toggle="modal"
                data-bs-target="#exampleModal">

                <svg width="22" height="22" fill="currentColor" class="bi bi-plus-lg mb-1" ><use xlink:href="#plus-sign"/></svg>
                PÁGINA
            </button>
        </div>
    </div> 
    
    <div id="conteudo-principal" class="d-flex flex-column w-100 h-100 bg-light p-2 overflow-auto invisible">
        <div class="flex-row">
            <div class="btn-group p-3">
                <button id="botao-editar-pagina" type="button" class="btn btn-primary" style="max-width: 100px;">Editar</button>
                <button id="botao-excluir-pagina" type="button" class="btn btn-danger" style="max-width: 100px;">Excluir</button> 
            </div>
        </div>
        <div class="flex-grow-1 bg-light shadow-lg rounded-5 m-3">
            <div class="titulo-pagina text-wrap m-5">
                <h1 id="titulo-pagina"></h1>
            </div>

            <div class="conteudo-pagina text-wrap mx-5 p-1 pb-5 overflow-visible">
            </div>
        </div>
    </div>
    
    <section>
        <!-- Pop up adicionar página -->

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Insira o nome de sua nova página</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="mb-2">
                                <label for="nome-pagina" class="form-label fs-5 mb-1 ms-2">Nome</label>
                                <input type="text" id="nome-pagina" class="form-control shadow-sm"
                                    placeholder="Nome da página">
                                <div class="invalid-feedback" id="nome-pagina-erro">
                                </div>
                            </div>

                            <div class="mb2">
                                <label for="visibilidade-pagina" class="form-label fs-5 mb-1 ms-2">Visibilidade</label>
                                <select id="visibilidade-pagina" class="form-select shadow-sm">
                                    <option selected>Pública</option>
                                    <option>Privada</option>
                                </select>
                            </div>

                            <div class="d-grid col-4 mx-auto mt-4">
                                <button type="button" id="submit-criar-pagina"
                                    class="btn btn-great btn-outline-primary rounded-pill shadow-sm">CRIAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}


{% block script %}

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script>

<script src="/static/js/form_utils.js"></script>
<script src="/static/js/inicio.js"></script>

{% endblock %}