{% extends "layout.html" %}

{% block conteudo %}

    <h1 class="mt-3 text-center">Menu</h1>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Páginas favoritas</th>
                </tr>
            </thead>
            <tbody id="corpoTabelaPaginasFavoritas">
            </tbody>
        </table>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Paginas privadas</th>
                </tr>
            </thead>
            <tbody id="corpoTabelaPaginasPrivadas">
            </tbody>
        </table>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Outras</th>
                </tr>
            </thead>
            <tbody id="corpoTabelaOutrasPaginas">
            </tbody>
        </table>
    </div>

{% endblock %}

<!-- Código do front-end -->

{% block script %}

    <script src="/static/js/barra_lateral.js"></script>

{% endblock %}