{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/static/login_slider.css">
{% endblock %}

{% block conteudo %}

<div class="d-flex">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <header>
                <h1 class="display-3 mb-5 lh-1 fw-semibold text-center">Welcome to <br> OnTrack Pages</h2>
            </header>
    
            <div class="col-md-4 slider-control">
                <div class="container">
					<div class="row p-2 justify-content-center">
                        <div class="col ps-0 pe-0 mb-3">
                            <div class="d-grid">
                                <button class="slider-button" data-slider-index="1">Login</button>
                            </div>
                        </div>
                        <div class="col ps-0 pe-0">
                            <div class="d-grid">
                                <button class="slider-button" data-slider-index="2">Registrar</button>
                            </div>
                        </div>
                    </div>
				</div>

                <div class="d-grid">
                    <div class="slider-item" style="grid-area: 1/1;" data-slider-index="1"> 
                        
                        <!-- Login form -->
                        <form>
                            <div class="mb-2">
                                <label for="login-email" class="form-label fs-5 mb-1 ms-2">Email</label>
                                <input type="email" id="login-email" class="form-control shadow-sm" placeholder="Email" value="teste@gmail.com">
                                <div class="invalid-feedback" id="login-email-erro">
                                </div>
                            </div>
                            
                            <div class="mb-2">
                                <label for="login-senha" class="form-label fs-5 mb-1 ms-2">Senha</label>
                                <div class="input-group">
                                    <input type="password" id="login-senha" class="form-control shadow-sm" placeholder="Senha">
                                    <!-- ICON -->
                                    <button class="btn btn-outline-secondary rounded-end visibility-toggle" type="button" id="login-senha-input">
                                        <svg width="20" height="20" fill="currentColor"><use class="visibility-toggle-icon" xlink:href="#eye-fill"/></svg>
                                    </button>
                                    <div class="invalid-feedback" id="login-senha-erro"></div>
                                </div>
                            </div>
                            
                            <div class="d-flex my-4 text-center justify-content-center">
                                <button type="button" id="submit-login" class="btn-submit btn btn-outline-primary px-5 rounded-pill shadow-sm">ENTRAR</button>
                            </div>
                        </form>
                    </div>

                    <div class="slider-item" style="grid-area: 1/1;" data-slider-index="2">
                        <!-- Registro form -->
                        <form>
                            <div class="mb-2">
                                <label for="registro-nome" class="form-label fs-5 mb-1 ms-2">Nome</label>
                                <input type="text" id="registro-nome" class="form-control shadow-sm" placeholder="Nome">
                                <div class="invalid-feedback" id="registro-nome-erro"></div>
                            </div>
                            <div class="mb-2">
                                <label for="registro-email" class="form-label fs-5 mb-1 ms-2">Email</label>
                                <input type="email" id="registro-email" class="form-control shadow-sm" placeholder="Email">
                                <div class="invalid-feedback" id="registro-email-erro"></div>
                            </div>
                            
                            <div class="mb-2">
                                <label for="registro-senha" class="form-label fs-5 mb-1 ms-2">Senha</label>
                                <div class="input-group">
                                    <input type="password" id="registro-senha" class="form-control shadow-sm" placeholder="Senha">
                                    <!-- ICON -->
                                    <button class="btn btn-outline-secondary rounded-end visibility-toggle" type="button" id="registro-senha-input">
                                        <svg width="20" height="20" fill="currentColor"><use class="visibility-toggle-icon" xlink:href="#eye-fill"/></svg>
                                    </button>
                                    <div class="invalid-feedback" id="registro-senha-erro"></div>
                                </div>
                            </div>                
                            
                            <div class="d-flex my-4 text-center justify-content-center">
                                <button type="button" id="submit-registro" class="btn-submit btn btn-outline-primary px-5 rounded-pill shadow-sm">REGISTRAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="/static/js/slider.js"></script>
<script src="/static/js/form_utils.js"></script>
<script src="/static/js/login.js"></script>
<script src="/static/js/alterar_visibilidade_campo.js"></script>
 {% endblock %}