{% extends "layout.html" %}
{% block conteudo %}

<!-- Cade a assinatura do autor -->
<!-- BY: jotaespig -->
<!-- Lemuel disse que funciona é uma aposta agora -->
<main>
    <span id="nome"></span>
    <br>
    <span id="email"></span>
</main>

<form>
    <div class="mb-2">
        <label for="alterar-senha-antiga" class="form-label fs-5 mb-1 ms-2">Senha antiga</label>
        <input type="text" id="alterar-senha-antiga" class="form-control shadow-sm" placeholder="Sua senha antiga.">
        <div class="invalid-feedback" id="alterar-senha-antiga-erro"></div>
    </div>
    <div class="mb-2">
        <label for="alterar-senha" class="form-label fs-5 mb-1 ms-2">Nova senha</label>
        <input type="text" id="alterar-senha" class="form-control shadow-sm" placeholder="Sua nova senha.">
        <div class="invalid-feedback" id="alterar-senha-erro"></div>
    </div>
    <div class="d-grid col-4 mx-auto mt-4">
        <button type="button" id="submit-password" class="btn btn-outline-primary rounded-pill shadow-sm">Alterar</button>
    </div>
</form>

{% endblock %}

{% block script %}
<script src="/static/js/perfil.js" data-usuario-id="{{ user_id }}"></script>
<script src="/static/js/form_utils.js"></script>
<script src="/static/js/alterar_senha.js"></script>
{% endblock %}