{% extends "layout.html" %}
{% block conteudo %}
<main>
    <div class="container mt-5">
        <header>
            <h1 class="display-3 mb-5 lh-1 fw-semibold text-center">Suas informações</h1>
        </header>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row justify-content-center">
                    <div class="col-md-4 d-flex justify-content-center mt-4">
                        <div style="width: 210px; height: 210px;" class="bg-dark rounded-pill"></div>
                    </div>
    
                    <div class="col-md-6">

                        <div class="text-start mt-2 mb-4">
                            <span class="fs-4 fw-bold">{{ user.nome }}</span><br>
                            <span class="fs-5 fw-light">{{ user.email }}</span>
                        </div>                  

                        <form>    
                            <div class="mb-2">
                                <label for="alterar-senha-atual" class="form-label fs-5 mb-1 ms-2">Senha atual</label>
                                <div class="input-group">
                                    <input type="text" id="alterar-senha-atual" class="form-control shadow-sm" placeholder="Sua senha atual">
                                    <!-- ICON -->
                                    <button class="btn btn-outline-secondary rounded-end visibility-toggle" type="button" id="alterar-senha-atual-input">
                                        <svg width="20" height="20" fill="currentColor"><use class="visibility-toggle-icon" xlink:href="#eye-fill"/></svg>
                                    </button>
                                    <div class="invalid-feedback" id="alterar-senha-atual-erro"></div>
                                </div>
                            </div>
    
                            <div class="mb-2">
                                <label for="senha-nova" class="form-label fs-5 mb-1 ms-2">Nova senha</label>
                                <div class="input-group">
                                    <input type="text" id="senha-nova" class="form-control shadow-sm" placeholder="Sua nova senha">
                                    <!-- ICON -->
                                    <button class="btn btn-outline-secondary rounded-end visibility-toggle" type="button" id="senha-nova-input">
                                        <svg width="20" height="20" fill="currentColor"><use class="visibility-toggle-icon" xlink:href="#eye-fill"/></svg>
                                    </button>
                                    <div class="invalid-feedback" id="senha-nova-erro"></div>
                                </div>
                            </div>
    
                            <div class="d-flex my-4 text-center justify-content-center">
                                <button type="button" id="submit-alterar" class="btn btn-great btn-outline-primary px-5 rounded-pill shadow-sm">
                                    ALTERAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script src="/static/js/form_utils.js"></script>
<script src="/static/js/alterar_senha.js"></script>
<script src="/static/js/alterar_visibilidade_campo.js"></script>
{% endblock %}

<!-- <form>
    <div class="mb-2">
        <label for="alterar-senha-antiga" class="form-label fs-5 mb-1 ms-2">Senha antiga</label>
        <input type="text" id="alterar-senha-antiga" class="form-control shadow-sm" placeholder="Sua senha antiga.">
        <div class="invalid-feedback" id="alterar-senha-antiga-erro"></div>
    </div>
    <div class="mb-2">
        <label for="alterar-senha" class="form-label fs-5 mb-1 ms-2">Nova senha</label>
        <input type="text" id="alterar-senha" class="form-control shadow-sm" placeholder="Sua nova senha.">
        <div class="invalid-feedback" id="alterar-senha-erro"></div>
    </div>
    <div class="d-grid col-4 mx-auto mt-4">
        <button type="button" id="submit-password" class="btn btn-outline-primary rounded-pill shadow-sm">Alterar</button>
    </div>
</form> -->